@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>CINE+</h1>
    <p class="lead">El mejor cine con las mejores películas. Donde sí tomamos en cuenta tu opinión</p>
</div>

<div class="row">  
</div>