@{ ViewBag.Title = "Ranking";
    }

<h2>Ranking</h2>

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>
        Las películas mejores calificadas son:
    </p>
    <p><img src="@Url.Action("getImage", "Ranking")" /> </p>
    <p>Pélícula mejor calificada: @ViewBag.BestPeli</p>

</body>
</html>

